html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

#root {
  display: grid;
  background-color: #f9f9f9;
}

#root, .app-container > div {
  height:100%;
}

.app-container {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: #fff;
  border-color: #fff;
}

.logo-img {
  
width: 50px;
height: 50px;
}

.no-result {
  font-size: 20px;
  text-align: center;
  margin: auto;
 
}

footer {
  background-color: #dfe8f1;
  height: 50px;
  justify-content: center;
  color: #000;
  font-weight: bold;
  display: flex !important;
  align-items: center;
}

footer > span {
  padding: 10px;
  width: 100%;
}

footer:last-child {
  text-align: right;
}

.search-inpbx,
.search-inpbx::placeholder {
  font-style: italic;
  padding: 10px;
}

.search-inpbx::placeholder {
color: #ccc !important;
}

.search-inpbx,
.login-form input {
  max-width: 200px;
  max-height: 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-style: none;
  font-weight: bold;
  color: #000;
}

.login-form input {
  background-color: #dfe8f1;
  width: 100%;
  max-width: 100%;
}

.show-span {
  display: block;
}

.hide-span {
  display: none;
}

.search-inpbx::placeholder,
.login-form input::placeholder {
  color: #fff;
  letter-spacing: 2px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid #fff;
  background-color:  #dfe8f1;
}

.color-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.color-span svg {
  margin-top: -10px;
}

header input {
  margin-bottom: 0 !important;
  width: 500px;
}

.plus {
  border: 2px solid grey;
  border-radius: 10px;
  width: 20px;
  padding-left: 4px;
  background-color: grey;
  color: #fff;

}

.product-detail {
  padding: 5px 0 15px 0;
  font-size: 12px;
}

.price-detail {
  justify-content: space-between;
  display: flex;
}

.after-img-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.add-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: row;
  border: 2x solid #fff;
  height: 100%;
}

.error-msg {
  color: #f00;
  padding-bottom: 10px;
  font-weight: bold;
}

aside.filter {
  min-width: calc(30% - 20px);
  border-bottom: #f9f9f9;
}

aside.filter input{
  margin-right: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-container > div {
  box-shadow: 1px 2px 4px grey;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  max-width: 230px;

  max-height: 300px;
}

.cart-logo {
  display: flex;
  flex-direction: column;
}

.cart-logo svg {
  margin-right: 5px;
}

.product-container img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.brand-span-filter {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  padding: 5px;
  overflow-y: auto;
  
}

aside.filter {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-left: 15px;
}

aside.filter > .filter-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #dfe8f1;
}

aside.filter > .filter-title > span {
  padding: 10px;
}

aside.filter  > b {
padding: 20px 0 10px 0;
}

.color-span-filter {
display: flex;
flex-wrap: wrap;
max-width: 200px;
}


.color-span-filter > div {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  flex-wrap: wrap;
}

.product-detail {
  flex-direction: column;
  display: flex;
}

.product-detail > span {
  justify-content: space-between;
}

svg {
  cursor: pointer;
}

header {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.cart-logo > span {
  display: flex;
  flex-direction: row;
}

header > div:last-child {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  width: 50%;
    justify-content: space-between;
}

header input + span {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.login-form {
  min-width: 500px;
  margin-top: 100px;
  margin: auto;
  height: 300px;
  border-radius: 5px;
  padding: 30px 50px;
  background: #fff;
  box-shadow: 0px 0px 10px grey;
  text-align: center;
}

.login-form form {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}


.login-form input::placeholder {
  text-align: center;
  color: #ccc;
  font-weight: bold;
}

.login-form h2 {
  text-align: left;
  margin-bottom: 30px;
}


.login-form input:focus {
  outline-style: none;
}

.login-container button {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #924e8c;
  border-style: none;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  max-width: 120px;
}

.login-container button:disabled {
background-color: #ccc;
}

.loader-overlay {
  width: 80%;
  height: calc(100% - 50px);
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  top: 0; }

.lds-roller {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px; }
    .lds-roller div:after {
      content: ' ';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ffffff;
      margin: -3px 0 0 -3px; }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s; }
      .lds-roller div:nth-child(1):after {
        top: 50px;
        left: 50px; }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s; }
      .lds-roller div:nth-child(2):after {
        top: 54px;
        left: 45px; }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s; }
      .lds-roller div:nth-child(3):after {
        top: 57px;
        left: 39px; }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s; }
      .lds-roller div:nth-child(4):after {
        top: 58px;
        left: 32px; }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s; }
      .lds-roller div:nth-child(5):after {
        top: 57px;
        left: 25px; }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s; }
      .lds-roller div:nth-child(6):after {
        top: 54px;
        left: 19px; }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s; }
      .lds-roller div:nth-child(7):after {
        top: 50px;
        left: 14px; }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s; }
      .lds-roller div:nth-child(8):after {
        top: 45px;
        left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }


@media only screen and (max-width: 1024px) {
  .search-inpbx {
    max-width: 200px;
  }

  aside.filter {
    border-bottom: 5px solid #dfe8f1 !important;
    margin: 0 10px; 
    padding: 10px;
    align-items: baseline;
    justify-content: space-around;
  }

  header > div:last-child {
    width: 65%;
  }

  .filter-title {
    flex-direction: column;
    justify-content: center;
  }

  aside.filter > .filter-title {
    border-bottom-style: none;
  }

  .main-container {
    flex-direction: column;
  }

  .main-container .filter {
    flex-direction: row;
    border-bottom: 5px solid #fff;
    margin-bottom: 10px;
  }

  .product-container {
    justify-content: center;
  }

.product-container div {
  max-width: 150px;
    max-height: 270px;
}

.product-container img {
  height: 120px;
}

  .color-span-filter {
    max-width: 200px;
    display: block;
  }
  .brand-span-filter {
    max-height: 100px;
    max-width: 150px;
  }
}